* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}


.container{
    width: 100%;
    height: 600px;
    /* min-height: 100vh; */
    background-color: lightcoral;
    background-image: url(/images/800px-Old_Katsina_College_-1-.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

.nav{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 180px;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 10px 0px;  
}

nav ul li{
    display: inline;
    margin: 10px 20px;
    color: #fefae0;
    text-shadow: 0px 0px 5px black;
    }

.btn{
    align-items:inline;
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    background: #606c38;
    color: #fefae0;
    font-weight: 500;
} 
.content{
    margin-top: 14px;
    color: #fefae0;
    max-width: 620px;
}
.content h1{
    font-size: 70px;
    font-weight: 300px;
    line-height: 85px;
    margin-top: 25px;
}
.content p{
    margin-bottom: 25px;
}

.container2{
    width: 100%;
    height: auto;               
    max-width: 1200px;         
    margin: 20px 20px;          
    padding: 20px;             
    background-color: #606c38; 
    border: 1px solid #ccc;   
    border-radius: 8px;
    }
    
.container2 h2{
    color: #fefae0;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}
